[Console]
font-scale=1.2000000000000002
last-window-size=(652, 480)

[control-center]
last-panel='keyboard'
window-state=(980, 640, true)

[desktop/app-folders]
folder-children=['Utilities', 'YaST']

[desktop/app-folders/folders/Utilities]
apps=['gnome-abrt.desktop', 'gnome-system-log.desktop', 'nm-connection-editor.desktop', 'org.gnome.baobab.desktop', 'org.gnome.Connections.desktop', 'org.gnome.DejaDup.desktop', 'org.gnome.Dictionary.desktop', 'org.gnome.DiskUtility.desktop', 'org.gnome.eog.desktop', 'org.gnome.Evince.desktop', 'org.gnome.FileRoller.desktop', 'org.gnome.fonts.desktop', 'org.gnome.seahorse.Application.desktop', 'org.gnome.tweaks.desktop', 'org.gnome.Usage.desktop', 'vinagre.desktop']
categories=['X-GNOME-Utilities']
name='X-GNOME-Utilities.directory'
translate=true

[desktop/app-folders/folders/YaST]
categories=['X-SuSE-YaST']
name='suse-yast.directory'
translate=true

[desktop/background]
color-shading-type='solid'
picture-options='zoom'
picture-uri='file:///usr/share/backgrounds/gnome/vnc-l.webp'
picture-uri-dark='file:///usr/share/backgrounds/gnome/vnc-d.webp'
primary-color='#77767B'
secondary-color='#000000'

[desktop/input-sources]
sources=[('xkb', 'us')]
xkb-options=['caps:esc', 'caps:escape']

[desktop/interface]
color-scheme='prefer-dark'
font-antialiasing='grayscale'
font-hinting='slight'
show-battery-percentage=true

[desktop/notifications]
application-children=['org-gnome-console', 'gnome-power-panel', 'org-gnome-nautilus', 'firefox']

[desktop/notifications/application/firefox]
application-id='firefox.desktop'

[desktop/notifications/application/gnome-power-panel]
application-id='gnome-power-panel.desktop'

[desktop/notifications/application/org-gnome-console]
application-id='org.gnome.Console.desktop'

[desktop/notifications/application/org-gnome-nautilus]
application-id='org.gnome.Nautilus.desktop'

[desktop/screensaver]
color-shading-type='solid'
picture-options='zoom'
picture-uri='file:///usr/share/backgrounds/gnome/vnc-l.webp'
primary-color='#77767B'
secondary-color='#000000'

[desktop/session]
idle-delay=uint32 600

[desktop/sound]
event-sounds=true
theme-name='__custom'

[desktop/wm/keybindings]
close=['<Super>q']
switch-applications=@as []
switch-applications-backward=@as []
switch-to-workspace-left=['<Control>Left']
switch-to-workspace-right=['<Control>Right']
switch-windows=['<Alt>Tab']
switch-windows-backward=['<Shift><Alt>Tab']

[evolution-data-server]
migrated=true

[nautilus/preferences]
default-folder-viewer='icon-view'
migrated-gtk-settings=true
search-filter-time-type='last_modified'

[nautilus/window-state]
initial-size=(890, 550)

[settings-daemon/plugins/color]
night-light-enabled=false

[settings-daemon/plugins/media-keys]
custom-keybindings=['/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/', '/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom1/', '/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom2/']

[settings-daemon/plugins/media-keys/custom-keybindings/custom0]
binding='<Super>Return'
command='/usr/bin/kgx'
name='Open terminal'

[settings-daemon/plugins/media-keys/custom-keybindings/custom1]
binding='<Super>w'
command='/usr/bin/firefox-wayland'
name='Open Firefox'

[settings-daemon/plugins/media-keys/custom-keybindings/custom2]
binding='<Shift><Super>o'
command='nautilus'
name='folders'

[settings-daemon/plugins/power]
sleep-inactive-ac-type='nothing'
sleep-inactive-battery-type='nothing'

[shell]
welcome-dialog-last-shown-version='44.2'

[shell/world-clocks]
locations=@av []

[tweaks]
show-extensions-notice=false
